@import "./mixins";
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.trade-now-main {
  // position: relative;
  width: 100%;
  font-weight: bolder;
  display: flex;
  font-size: 2rem;
  // left: 200px;
  // top: 380px;
  margin: 5% 10%;
  object-fit: cover;
  // justify-content: space-around;
  flex-direction: row;
  @include if_mobile() {
    margin: 1%;
    flex-direction: column;
  }

  .h1-about-us {
    display: flex;
    margin: 0%;
    @include if_mobile {
      margin: 0%;
      overflow-wrap: break-word;
      object-fit: cover;
      font-size: 1.75rem;
    }
  }
  .h1-low-opacity {
    // position: absolute;
    // left: 350px;
    // top: -200px;
    display: flex;
    margin: 0px 0px 0px 390px;
    opacity: 0.1;
    font-size: 9rem;
    // z-index: -10;
    writing-mode: vertical-rl;

    @include if_mobile {
      display: flex;
      margin: 0% 0% 0% 25%;
      font-size: 4rem;
    }
  }
}

.right-side-container {
  display: flex;
  justify-content: center;
  margin: 0%;
}

.trade-now-logo {
  // position: absolute;
  // transform: scale(0.5);
  // top: -500px;
  // left: 800px;
  // display: flex;
  width: 60%;
  // max-height: auto;
  // margin: -40% 0% 0% 40%;
  animation: blurin 1.5s ease-in-out 1;
  @include if_mobile {
    flex-direction: column;
    display: flex;
    margin: 0%;
    justify-content: center;
    align-items: center;
  }
}

.p-about-us {
  font-weight: 200;
  opacity: 0.5;
}

div.trade-now-history {
  display: block;
  position: relative;
  margin: 5% 0px 0px 15%;
  width: 65%;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}

p.trade-now-history {
  font-size: 1em;
  text-align: center;
  border-top: groove;
  margin-top: 700px;
  margin: auto;
  width: 100%;
}

@keyframes blurin {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}

.team-Trade-Now {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 80px 0 20px 0;
  font-weight: 800;

  h2 {
    font-size: 2em;
  }
}

.team-picture {
  display: flex;
  flex-direction: row;
  @include if_mobile() {
    flex-direction: column;
    align-items: center;
  }
  justify-content: space-evenly;
  margin: 20px 0 60px 0;
  font-weight: 800;
  box-shadow: 3px 4px 8px 8px #0b7001;
  img {
    display: flex;
    width: 12.5rem;
    height: 18.75rem;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    @include if_mobile() {
      width: 6rem;
      height: 9rem;
    }
  }
  h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px 20px 5px;
    background: #0b7001;
  }
}
