.table-container {
  justify-content: center;
  display: flex;
}

.hightlight {
  display: flex;
  justify-content: space-around;
  margin: 3% 0% 3% 0%;
  width: 100%;
  height: auto;
  background-color: #e9e9e9;
}

.hightlight-container {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0px 10% 0px 10%;
}

.coinList-item {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  list-style: none;
}

.coinList-item:hover {
  transform: scale(1.3);
  z-index: 2;
}
.card img {
  width: 1.75rem;
  height: 1.75rem;
  margin: 5%;
}

.title {
  color: grey;
  margin: 5px;
}

.coin-symbol {
  padding: 0rem 3rem 0rem 0rem;
  font-size: 1.5rem;
}
.coin-price {
  font-size: 1rem;
  font-weight: bold;
}

.coin-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  div {
    margin: 0 0.2rem;
  }
}

.select-drop-down {
  text-align: center;
}
