body {
  overflow-x: hidden;
}

.flex-container {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  margin-bottom: 0;
}

.left-side-wordings {
  width: 60%;
  box-sizing: border-box;
  color: black;
  margin: 50px;
  padding: 50px;
  font-family: "Inter", sans-serif;
}

.right-side-image {
  width: 40%;
  height: 100%;

  @media screen (max-width: ) {
  }
}

img.traders {
  position: absolute;
  transform: scale(0.45);
  top: -230px;
  left: 900px;
  /* justify-content: flex-start; */
  /* margin-top: -330px; */
  z-index: 5;
}

img.crypto {
  transform: scale(0.6);
  position: absolute;
  top: 180px;
  left: 1300px;
  display: inline;
  z-index: 10;
}

@media only screen and (max-width: 800px) {
  div.right-side-image {
    display: none;
    width: 50%;
  }
}

h1.homepage {
  box-sizing: border-box;
  font-size: 450%;
  margin-top: 0;
}

p.homepage {
  padding-top: 40px;
  font-weight: 100;
  margin-bottom: 0;
}

a.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 100px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

p.homepage-description {
  color: black;
  margin-top: 20px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  margin-bottom: 0;
}
